:root {
    --main-bg-color: #E8E3DD;
    --main-color: #B20B13;
}
body{
    background: var(--main-bg-color);
}
.navbar .nav{
    height: 60px;
    display: flex;
    align-items: center;
}

h1 {
    color: #000000;
    text-shadow: 2px 4px rgba(0, 0, 0, 0.1);
    margin: 3rem auto;
}

.log-reg {
    color: #000000;
    text-shadow: 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

p {
    font-size: 1rem;
    color: #555;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px auto;
    background: var(--main-color);
    color: white;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    color: var(--main-color);
    border-color: var(--main-color);
    background: transparent;
}

.btn-secondary {
    background: transparent;
    border-color: #000;
    color: #000000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.auth-form {
    width:90%;
    margin: 0 auto;
    margin-top: 2rem;
    background: #fff;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 4px 10px rgba(0, 0, 0, 0.2);
}

.auth-form h1 {
    color: var(--main-color);
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.auth-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.auth-form button {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    background: var(--main-color);
    color: white;
    border: none;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.auth-form button:hover {
    background: #8f0a0f;
}

.auth-form a {
    display: block;
    margin-top: 10px;
    color: #8f0a0f;
    font-weight: bold;
    text-decoration: none;
}
